body {
	padding-bottom: 150px;
}

nav {
	transition: all 0.3s ease-in-out;
}

.navbar-fixed {
	z-index: 10000;
}

.custom-nav {
	position: fixed;
	z-index: 999;
	/*background: transparent;*/
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: none;
	height: 70px;
	padding: 10px;
}

.nav-bg {
	background-color: #F34235;
	padding: 5px;
}
.slider {
	height: 100vh;
	top: -80px;
}
.slider .indicators {
	z-index: 9999;
	bottom: 30px;
}

.section-title {
	color: #444;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 30px;
	font-family: 'Roboto', sans-serif !important;
}

.subtitle {
	color: #F34235;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 30px;
	font-family: 'Roboto', sans-serif !important;
}

.logo {
	width: 100px;
	height: 50px;
}

.speaker, .speaker-image {
	position: relative;
}

.speaker-image img {
	display: block;
	width: 100%;
	height: 360px;
}

.overlay {
	position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: #fff;
}

.speaker:hover .overlay {
	opacity: 0.8;
}

.social {
	position: absolute;
	width: 100%;
	bottom: 50px;
	text-align: center;
}

.social img {
	margin-left: 8px;
	margin-right: 8px;
}

.speaker-desc {
	background-color: #FFF;
	padding: 10px 0 30px;
}

.speaker-title {
	padding-top: 20px;
}

.speaker-title h4 {
	font-weight: 600;
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center;
}

.speaker-title p {
	font-style: normal;
	color: #999;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 2px;
	text-align: center;
}

.slider img {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content {
	line-height: 1.8;
	font-size: 20px;
	font-weight: 300;
	color: #555;
	text-align: center;
}

#about {
	padding-bottom: 100px;
}

.fork-me-wrapper {
	z-index: 999999 !important;
}